{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-warning">
                <h5><i class="bi bi-pencil"></i> Fikrni tahrirlash</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                    <a href="{% url 'vacancies:detail' vacancy.id %}" class="btn btn-secondary">Bekor qilish</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}